@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

@font-face {
  font-family: 'Xolonium';
  src: url('../fonts/Xolonium-Bold.eot');
  src: url('../fonts/Xolonium-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Xolonium-Bold.woff2') format('woff2'),
       url('../fonts/Xolonium-Bold.woff') format('woff'),
       url('../fonts/Xolonium-Bold.ttf')  format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Xolonium';
  src: url('../fonts/Xolonium-Regular.eot');
  src: url('../fonts/Xolonium-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Xolonium-Regular.woff2') format('woff2'),
       url('../fonts/Xolonium-Regular.woff') format('woff'),
       url('../fonts/Xolonium-Regular.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --inc-step: 1;
  --height: 100vh;
  --x: 0px;
  --y: 0px;
  --relx: 0px;
  --rely: 0px;
  --title-font: "Xolonium", sans-serif;
  --text-font: "Onest", sans-serif;
  --bg: #fff;
  --bg-gray: #f9f9f9;
  --bg-hover: #f3f3f3;
  --white: #fff;
  --text: #323232;
  --text-gray: #949494;
  --border: #f3f3f3;
  --border-gray: #e9e9e9;
  --border-dgray: #404040;
  --border-hover: #d5d5d5;
  --color: #f6694a;
  --error: #c01818;
  --green: #0a7146;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::-moz-selection {
  background-color: var(--text);
  color: var(--bg);
}

*::selection {
  background-color: var(--text);
  color: var(--bg);
}

input {
  outline: none;
}

textarea {
  outline: none;
  resize: none;
} 

input::-moz-selection {
  background-color: var(--color);
  color: var(--white);
}

input::selection {
  background-color: var(--color);
  color: var(--white);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

*::marker {
  font-size: 0;
}

::-webkit-scrollbar {
  width: 8px;
  background: var(--bg);
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background: var(--color);
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

html.noscroll {
  height: 100vh;
  overflow: hidden;
}

body {
  position: relative;
  height: 100%;
  font-family: var(--text-font);
  color: var(--text);
  -webkit-tap-highlight-color: transparent;
  background-color: var(--bg);
}

button {
  padding: 0;
  margin: 0;
  background: transparent;
  -webkit-transition: color 0.15s linear, background-color 0.15s linear;
  transition: color 0.15s linear, background-color 0.15s linear;
  cursor: pointer;
}

.main {
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
select:-webkit-autofill,
select:-webkit-autofill:hover {
  border: none;
  -webkit-text-fill-color: var(--text);
  -webkit-box-shadow: 0 0 0 1000px var(--white) inset;
  color: var(--text);
  box-shadow: 0 0 0 1000px var(--white) inset;
}

button,
button:hover {
  outline: 0;
  border: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

a {
  color: var(--text);
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
  text-decoration: none;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:hover {
  color: var(--color);
  text-decoration: none;
}

ul,
p,
div,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

section {
  margin: -1px 0 0;
  padding: 1px 0 0;
  position: relative;
  opacity: 1;
  pointer-events: all;
  background-color: var(--bg);
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 80px;
  margin: 0 auto;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: transparent;
  -webkit-transition: visibility 0.3s linear, opacity 0.3s linear, background-color 0.3s linear;
  transition: visibility 0.3s linear, opacity 0.3s linear, background-color 0.3s linear;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.overlay.active {
  background-color: var(--text);
  opacity: 0.84;
  visibility: visible;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.top {
  height: 70px;
  width: 100%;
}

.swiper-slide {
  -webkit-transform: translateZ(0);
  -o-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.swiper-wrapper {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.swiper-container {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  display: none;
}

.swiper-button-lock {
  visibility: hidden;
  opacity: 0;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: transparent;
}

.swiper-pagination-bullet {
  background: transparent;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

/* bitrix */

.container::after {
  display: none;
}

/* bitrix */

/* start font */

h1 {
  font-family: var(--title-font);
  font-size: 48px;
  font-weight: 700;
  line-height: 57.84px;
  color: var(--text);
}

h2 {
  font-family: var(--title-font);
  font-size: 32px;
  font-weight: 700;
  line-height: 38.56px;
  color: var(--text);
}

h3 {
  font-family: var(--title-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.92px;
  color: var(--text);
}

h4 {
  font-family: var(--title-font);
  font-size: 20px;
  font-weight: 700;
  line-height: 24.1px;
  color: var(--text);
}

.sub_one {
  font-family: var(--title-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.28px;
  color: var(--text);
}

.sub_two {
  font-family: var(--title-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.87px;
  color: var(--text);
}

.body_one {
  font-family: var(--text-font);
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  color: var(--text);
}

.body_two {
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: var(--text);
}

.body_small {
  font-family: var(--text-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 17.85px;
  color: var(--text);
}

.body_caption {
  font-family: var(--text-font);
  font-size: 14px;
  font-weight: 300;
  line-height: 17.85px;
  color: var(--text);
}

.body_table {
  font-family: var(--text-font);
  font-size: 14px;
  font-weight: 500;
  line-height: 17.85px;
  color: var(--text);
}

small {
  font-family: var(--text-font);
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
	color: var(--error);
}

a,
p,
li,
b,
strong,
input,
input::placeholder,
textarea,
textarea::placeholder,
[data-select-title],
[data-select-item] {
  
}

a {
  
}

p,
li,
label,
input,
input::placeholder,
textarea,
[data-select-title],
[data-select-item] {
  
}

input,
textarea,
[data-select-title],
[data-select-item] {
  
}

b,
strong {
  
}

.btn,
.btn input {
  font-family: var(--text-font);
  font-size: 14px;
  font-weight: 300;
  line-height: 17.85px;
	color: var(--error);
}

/* end font */

/* start button */

.btn {
  width: 300px;
  padding: 18px;
  position: relative;
  background-color: var(--color);
  border-radius: 50px;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  overflow: hidden;
  cursor: pointer;
}

.btn__white {
  border: 1px solid var(--color);
  background-color: var(--white);
}

.btn__gray {
  background-color: var(--bg-gray);
}

.btn:hover {
  background-color: var(--text);
}

.btn__white:hover {
  border: 1px solid var(--color);
  background-color: var(--color);
}

.btn__gray:hover {
  background-color: var(--bg-hover);
}

.btn__gray.active {
  background-color: var(--text);
}

.btn span:first-child {
  position: relative;
  z-index: 2;
  color: var(--white);
  text-transform: uppercase;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.btn__white span:first-child {
  color: var(--color);
}

.btn__gray span:first-child {
  color: var(--text);
}

.btn__white:hover span:first-child {
  color: var(--white);
}

.btn__gray.active span:first-child {
  color: var(--white);
}

.btn span:not(:first-child) {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  background-color: var(--text);
  -webkit-transition: transform 0.4s ease-out, opacity 0.4s linear, background-color 0.4s linear;
  transition: transform 0.4s ease-out, opacity 0.4s linear, background-color 0.4s linear;
  z-index: 1;
  border-radius: 10px;
}

.btn span:nth-child(2) {
  -webkit-transform:translate(-100%, -100%);
  transform:translate(-100%, -100%);
}

.btn span:nth-child(3) {
  -webkit-transform: translate(-100%, 100%);
  transform: translate(-100%, 100%);
}

.btn span:nth-child(4) {
  -webkit-transform: translate(100%, -100%);
  transform: translate(100%, -100%);
}

.btn span:nth-child(5) {
  -webkit-transform: translate(100%, 100%);
  transform: translate(100%, 100%);
}

.btn:hover span:nth-child(2) {
  opacity: 0.4;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:hover span:nth-child(3) {
  opacity: 0.4;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}

.btn:hover span:nth-child(4) {
  opacity: 0.4;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}

.btn:hover span:nth-child(5) {
  opacity: 0.4;
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}

.btn__white span:not(:first-child) {
  background-color: var(--color);
}

.btn__gray span:not(:first-child) {
  background-color: var(--bg-hover);
}

.btn__gray.active span:not(:first-child) {
  background-color: var(--text);
}

/* end button */

/* start header */

.header {
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--bg);
  border-bottom: 1px solid var(--border);
}

.header__block {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.header__logo {
  width: 56px;
  height: 56px;
}

.header__buttons {
  display: flex;
  height: 70px;
  align-items: center;
  gap: 50px;
}

.header__personal,
.header__personal_button {
  display: flex;
  height: 70px;
  align-items: center;
  gap: 20px;
}

.header__personal_list {
  display: flex;
  width: max-content;
  max-height: 0px;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  top: 69px;
  right: 0;
  z-index: 1;
  opacity: 0;
  background-color: var(--bg);
  border: 1px solid var(--border);
  -webkit-transition: max-height 0.3s linear, opacity 0.3s linear;
  transition: max-height 0.3s linear, opacity 0.3s linear;
  overflow: hidden;
}

.header__personal_flex.active .header__personal_list {
  max-height: 2000px;
  opacity: 1;
}

.header__personal_item:first-child {
  padding: 20px 0 0;
}

.header__personal_item:nth-last-child(2) {
  padding: 0 0 5px;
}

.header__personal_link {
  display: flex;
  padding: 0 20px;
}

.header__personal_item:last-child .header__personal_link {
  padding: 12px 20px;
  color: var(--text-gray);
  border-top: 1px solid var(--border);
  -webkit-transition:  color 0.15s linear, background-color 0.15s linear;
  transition:  color 0.15s linear, background-color 0.15s linear;
}

.header__personal_item:last-child .header__personal_link:hover {
  color: var(--white);
  background-color: var(--color);
}

.header__personal_flex.active .header__personal,
.header__personal_flex.active .header__personal_button,
.header__personal:hover {
  color: var(--color);
}

.header__personal_flex {
  position: relative;
}

.header__social {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__social_link:hover {
  color: var(--color);
}

.header__personal svg,
.header__personal_button svg,
.header__social_link svg {
  display: flex;
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.header__burger {
  display: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 101;
}

.header__burger_flex {
  display: flex;
  width: 24px;
  height: 24px;
  position: relative;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

.header__burger_flex span:nth-child(1) {
  width: 100%;
  height: 2.2px;
  position: absolute;
  top: 5px;
  left: 0;
  background-color: var(--text);
  -webkit-transform: translateX(0) translateY(0) rotate(0);
  transform: translateX(0) translateY(0) rotate(0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transition-delay: 0.20s;
  transition-delay: 0.20s;
}

.header__burger_flex span:nth-child(2) {
  width: 100%;
  height: 2.2px;
  position: absolute;
  top: 10.75px;
  left: 0;
  background-color: var(--text);
  opacity: 1;
  -webkit-transform: translateX(0) translateY(0);
  transform: translateX(0) translateY(0);
  -webkit-transition: -webkit-transform 0s, opacity 0s;
  transition: transform 0s, opacity 0s;
  -webkit-transition-delay: 0.30s, 0.30s;
  transition-delay: 0.30s, 0.30s;
}

.header__burger_flex span:nth-child(3) {
  width: 100%;
  height: 2.2px;
  position: absolute;
  left: 0;
  bottom: 5px;
  background-color: var(--text);
  -webkit-transform: translateX(0) translateY(0) rotate(0);
  transform: translateX(0) translateY(0) rotate(0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transition-delay: 0.20s;
  transition-delay: 0.20s;
}

.header__burger.active .header__burger_flex {
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition-delay: 0.20s;
}

.header__burger.active .header__burger_flex span:nth-child(1) {
  -webkit-transform: translateX(0.2px) translateY(6.5px) rotate(45deg);
  transform: translateX(0.2px) translateY(6.5px) rotate(45deg);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

.header__burger.active .header__burger_flex span:nth-child(2) {
  opacity: 0;
  -webkit-transition: -webkit-transform 0s, opacity 0s;
  transition: transform 0s opacity 0s;
  -webkit-transition-delay: 0.05s, 0.05s;
  transition-delay: 0.05s, 0.05s;
}

.header__burger.active .header__burger_flex span:nth-child(3) {
  -webkit-transform: translateX(0.5px) translateY(-5.2px) rotate(-45deg);
  transform: translateX(0.5px) translateY(-5.2px) rotate(-45deg);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

/* end header */

/* start footer */

.footer {
  margin: auto 0 0;
  background-color: var(--text);
}

.footer__logo {
  display: flex;
  width: 113px;
  height: 113px;
  flex: 0 0 auto;
}

.footer__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer__top {
  display: flex;
  padding: 40px 0 30px;
  gap: 100px;
}

.footer__flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 40px;
}

.footer__left {
  padding: 47px 0 0;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 80px;
}

.footer__right {
  display: flex;
  padding: 41px 0 0;
  flex-direction: column;
  gap: 50px;
}

.footer__contact {
  display: flex;
  width: max-content;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}

.footer__bottom {
  display: flex;
  padding: 30px 0;
  justify-content: space-between;
  gap: 30px;
  border-top: 1px solid var(--border-dgray);
}

.footer__social_link,
.footer__contact_link,
.footer__link {
  color: var(--white);
}

.footer__link {
  text-transform: uppercase;
}

.footer__bottom_desc,
.footer__bottom_link {
  color:  var(--text-gray);
}

.footer__social_linka:hover,
.footer__contact_link:hover,
.footer__bottom_link:hover {
  color: var(--color);
}

/* end footer */

/* start breadcrumbs */

.breadcrumbs__list {
  display: flex;
  padding: 20px 0;
  flex-wrap: wrap;
  gap: 20px 0;
  border-bottom: 1px solid var(--border);
}

.breadcrumbs__item:not(:last-child):after {
  content: "";
  display: inline-flex;
  width: 11px;
  height: 11px;
  margin: 0 10px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3 9.935L6.09042 6.5L3 3.0575L3.95142 2L8 6.5L3.95142 11L3 9.935Z' fill='%23323232'/%3e%3c/svg%3e");
  background-size: 11px 11px;
}

.breadcrumbs__link {
  text-transform: uppercase;
}

.breadcrumbs__item:last-child  .breadcrumbs__link {
  color: var(--text-gray);
  pointer-events: none;
}

/* end breadcrumbs */

/* start personal */

.personal__block {
  display: flex;
  padding: 100px 0 120px;
  flex-direction: column;
  gap: 80px;
}

.personal__tab_block {
  max-height: 0;
  opacity: 0;
  -webkit-transition: max-height 0s linear, opacity 0.2s linear;
  transition: max-height 0s linear, opacity 0.2s linear;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
  overflow: hidden;
}

.personal__tab_block.active {
  max-height: 100000px;
  opacity: 1;
  -webkit-transition-delay: 0.2s, 0.3s;
  transition-delay: 0.2s, 0.3s;
}

.personal__head {
  padding: 0 0 10px;
  text-align: center;
}

.personal__heading,
.personal__desc {
  text-transform: uppercase;
}

.personal__flex {
  display: flex;
  gap: 50px;
}

.personal__image {
  display: flex;
  width: 305px;
  height: 260px;
  flex: 0 0 auto;
}

.personal__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.personal__info {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.personal__left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.personal__top,
.personal__bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.personal__age,
.personal__male {
  color: var(--text-gray);
}

.personal__age span,
.personal__male span {
  color: var(--text);
}

.personal__right {
  display: flex;
  width: min-content;
  flex-direction: column;
  gap: 20px;
}

.personal__right_flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.personal__desc {
  color: var(--color);
}

.personal__status {
  padding: 5px 15px;
  color: var(--text-gray);
  background-color: var(--border);
}

.personal__status.active {
  color: var(--green);
  background-color: #dff0d8;
}

.personal__data {
  border: 1px solid var(--border);
}

.personal__tabs {
  display: flex;
}

.personal__tab,
.personal__tabs_button {
  width: 100%;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-gray);
  background-color: var(--bg-gray);
  text-transform: uppercase;
  -webkit-transition: border 0.2s linear, background-color 0.2s linear;
  transition: border 0.2s linear, background-color 0.2s linear;
}

.personal__tab {
  display: flex;
}

.personal__tabs_button {
  display: none;
}

.personal__tabs_button svg {
  display: flex;
  width: 10px;
  height: 7px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
}

.personal__tabs_flex.active .personal__tabs_button svg {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.personal__tab:hover {
  border-bottom: 1px solid var(--border-gray);
  background-color: transparent;
}

.personal__tabs_button:hover {
  border-bottom: 1px solid var(--border-gray);
  background-color: var(--bg-gray);
}

.personal__tab.active {
  border-bottom: 1px solid transparent;
  background-color: transparent;
}

.personal__tab:not(:last-child) {
  border-right: 1px solid var(--border-gray);
}

.personal__competitions_block {
  max-height: 0;
  opacity: 0;
  -webkit-transition: max-height 0s linear, opacity 0.2s linear;
  transition: max-height 0s linear, opacity 0.2s linear;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
  overflow: hidden;
}

.personal__competitions_block.active {
  max-height: 100000px;
  opacity: 1;
  -webkit-transition-delay: 0.2s, 0.3s;
  transition-delay: 0.2s, 0.3s;
}

.personal__competitions:not(:last-child) .personal__competitions_item:last-child {
  border-bottom: 1px solid var(--border-gray);
}

.personal__competitions_head {
  padding: 60px 40px 40px;
}

.personal__competitions_item {
  border-top: 1px solid var(--border-gray);
  background-color: var(--bg);
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.personal__competitions_item.active,
.personal__competitions_item:hover {
  background-color: var(--bg-gray);
}

.personal__competitions_button,
.personal__competitions_info {
  width: 100%;
}

.personal__competitions_button {
  display: flex;
  padding: 40px;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.personal__competitions_button_left {
  display: flex;
  width: calc(50% - 50px);
  text-align: left;
}

.personal__competitions_button_right {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  text-align: left;
}

.personal__competitions_date,
.personal__competitions_record {
  width: calc(50% - 34px);
}

.personal__competitions_info {
  max-height: 0px;
  opacity: 0;
  -webkit-transition: max-height 0.3s linear, opacity 0.3s linear;
  transition: max-height 0.3s linear, opacity 0.3s linear;
  overflow: hidden;
}

.personal__competitions_item.active .personal__competitions_info {
  max-height: 2000px;
  opacity: 1;
}

.personal__competitions_flex {
  display: flex;
  padding: 0 40px 40px;
  gap: 50px;
}

.personal__competitions_left {
  display: flex;
  width: calc(50% - 50px);
}

.personal__competitions_image {
  display: flex;
  width: 100%;
  align-items: flex-start;
}

.personal__competitions_image img {
  display: flex;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.personal__competitions_right {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.personal__competitions_top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.personal__competitions_bottom {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.personal__competitions_arrow {
  display: flex;
  width: 24px;
  height: 24px;
  -webkit-transition: max-height 0.3s linear, opacity 0.3s linear;
  transition: max-height 0.3s linear, opacity 0.3s linear;
}

.personal__competitions_arrow {
  display: flex;
  width: 24px;
  height: 24px;
}

.personal__competitions_arrow svg {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: contain;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
}

.personal__competitions_item.active .personal__competitions_button:hover .personal__competitions_arrow svg,
.personal__competitions_button .personal__competitions_arrow svg {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.personal__competitions_item.active .personal__competitions_button .personal__competitions_arrow svg,
.personal__competitions_button:hover .personal__competitions_arrow svg {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.personal__competitions_record {
  display: flex;
  align-items: center;
  gap: 5px;
}

.personal__competitions_record::before {
  content: "•";
  font-size: 24px;
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}

.personal__competitions_record.active {
  color: var(--green);
}

.personal__competitions_record.over {
  color: var(--error);
}

.personal__competitions_discipline span,
.personal__competitions_place span {
  color: var(--text-gray);
}

.personal__competitions_tabs {
  display: flex;
  padding: 80px 40px 0;
  flex-wrap: wrap;
  gap: 20px;
}

.personal__competitions_tab {
  width: max-content;
  padding: 10px 25px;
}

.personal__competitions_heading {
  text-transform: uppercase;
}

.personal__statistics {
  display: flex;
  padding: 80px 0 0;
  flex-direction: column;
  gap: 40px;
}

.personal__statistics_head {
  padding: 0 40px;
}

.personal__statistics_information {
  display: flex;
  padding: 30px 40px;
  justify-content: space-between;
  gap: 20px;
  border-top: 1px solid var(--border-gray);
  border-bottom: 1px solid var(--border-gray);
  background-color: var(--bg-gray);
}

.personal__statistics_flex {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.personal__statistics_heading {
  color: var(--color);
}

.personal__statistics_table_head {
  padding: 30px 40px;
}

.personal__statistics_desc {
  color: var(--text-gray);
}

.personal__statistics_item {
  display: flex;
}

.personal__statistics_item {
  border-top: 1px solid var(--border-gray);
}

.personal__statistics_tr {
  display: flex;
  flex-direction: column;
}

.personal__statistics_tr:not(:nth-child(2)):not(:nth-child(3)) {
  width: 18%;
}

.personal__statistics_tr:nth-child(2),
.personal__statistics_tr:nth-child(3) {
  width: 14%;
}

.personal__statistics_type,
.personal__statistics_td {
  padding: 16px 0 16px 40px;
  flex: 0 0 auto;
  white-space: nowrap;
}

.personal__statistics_type {
  border-bottom: 1px solid var(--border-gray);
}

.personal__statistics_item:not(:first-child) .personal__statistics_type {
  display: none;
}

.personal__statistics_tr:not(:last-child) {
  border-right: 1px solid var(--border-gray);
}

.personal__statistics_item:nth-child(2n) .personal__statistics_td {
  background-color: var(--bg-gray);
}

/* end personal */

/* start form */

.personal__forms {
  display: flex;
  padding: 80px 40px 40px;
  flex-direction: column;
  gap: 40px;
}

.personal__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.personal__form_head {
  padding: 0 0 20px;
  text-transform: uppercase;
}

.form__group {
  display: flex;
  gap: 20px;
}

.form__group .form__control {
  width: calc(33.333% - 14px);
}

.form__control {
  display: flex;
  margin: 0 0 13px;
  padding: 10px 0 17px;
  flex-direction: column-reverse;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

.form__control .form__error {
  height: 12px;
  margin: 5px 0 0;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
}

.form__control.error .form__error {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.form__counter {
  display: none;
  height: 12px;
  margin: 5px 0 0;
  position: absolute;
  bottom: 0;
  right: 0;
}

.form__input:focus ~ .form__counter {
  display: block;
}

.form__counter.success {
  color: var(--green);
}

.form__input {
  display: flex;
  width: calc(100% - 2px);
  height: 54px;
  max-height: 54px;
  padding: 0 20px 0;
  margin: 1px 1px 0;
  border: none;
  color: var(--text-gray);
  background-color: var(--border-gray);
  position: relative;
  z-index: 2;
  -webkit-transition: max-height 0.3s linear, background-color 0.3s linear;
  transition: max-height 0.3s linear, background-color 0.3s linear;
}

.form__input::-webkit-calendar-picker-indicator {
  display: flex;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 2;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTUgMjJIMTlDMjAuMTAzIDIyIDIxIDIxLjEwMyAyMSAyMFY2QzIxIDQuODk3IDIwLjEwMyA0IDE5IDRIMTdWMkgxNVY0SDlWMkg3VjRINUMzLjg5NyA0IDMgNC44OTcgMyA2VjIwQzMgMjEuMTAzIDMuODk3IDIyIDUgMjJaTTUgN0gxOVY5SDVWN1oiIGZpbGw9IiMzMjMyMzIiLz4KPC9zdmc+Cg==");
  opacity: 0.5;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.form__input:focus::-webkit-calendar-picker-indicator {
  opacity: 1;
}

.form__input::placeholder {
  color: var(--text-gray);
}

.form__input:focus,
.form__input:focus::-webkit-calendar-picker-indicator {
  color: var(--text);
  background-color: var(--white);
}

.form__input:focus {
  max-height: 500px;
}

.form__input:focus {
  outline: none;
}

.form__textarea {
  resize: none;
  overflow: hidden;
}

.form__border,
.form__bar {
  display: flex;
  width: 100%;
  height: 56px;
  flex: 0 0 auto;
  position: absolute;
  bottom: 16px;
}

.form__bar {
  z-index: 1;
}

.form__border {
  z-index: 0;
}

.form__border::before,
.form__border::after,
.form__border span::before,
.form__border span::after,
.form__bar::before,
.form__bar::after,
.form__bar span::before,
.form__bar span::after {
  content: '';
  position: absolute;
  -webkit-transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease;
  transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease;
}

.form__border::before,
.form__border::after,
.form__border span::before,
.form__border span::after {
  background-color: var(--border-gray);
}

.form__bar::before,
.form__bar::after,
.form__bar span::before,
.form__bar span::after {
  background-color: var(--border-hover);
}

.form__border::before,
.form__bar::before {
  width: 0px;
  height: 1px;
  top: 0;
  left: 0;
}

.form__border::after,
.form__bar::after {
  width: 1px;
  height: 0px;
  bottom: 0;
  right: 0;
}

.form__border span::before,
.form__bar span::before {
  width: 0px;
  height: 1px;
  right: 0;
  bottom: 0;
}

.form__border span::after,
.form__bar span::after {
  width: 1px;
  height: 0px;
  top: 0;
  left: 0;
}

.form__input ~ .form__border::before,
.form__input ~ .form__border span::before,
.form__input ~ .form__border::before,
.form__input ~ .form__border span::before,
.form__input:hover ~ .form__bar::before,
.form__input:hover ~ .form__bar span::before,
.form__input:focus ~ .form__bar::before,
.form__input:focus ~ .form__bar span::before {
  width: 100%;
}

.form__input ~ .form__border::after,
.form__input ~ .form__border span::after,
.form__input ~ .form__border::after,
.form__input ~ .form__border span::after,
.form__input:hover ~ .form__bar::after,
.form__input:hover ~ .form__bar span::after,
.form__input:focus ~ .form__bar::after,
.form__input:focus ~ .form__bar span::after {
  height: 100%;
}

.form__input:focus ~ .form__border::after,
.form__input:focus ~ .form__border span::after,
.form__input:focus ~ .form__border::after,
.form__input:focus ~ .form__border span::after,
.form__input:focus ~ .form__bar::before,
.form__input:focus ~ .form__bar span::before,
.form__input:focus ~ .form__bar::after,
.form__input:focus ~ .form__bar span::after {
  background-color: var(--text);
}

.form__control.success .form__border::before,
.form__control.success .form__border::after,
.form__control.success .form__border span::before,
.form__control.success .form__border span::after {
  background-color: var(--green);
}

.form__control.error .form__border::before,
.form__control.error .form__border::after,
.form__control.error .form__border span::before,
.form__control.error .form__border span::after {
  background-color: var(--error);
}

.form__label span {
  color: var(--error);
}

.form__label {
  min-height: 24px;
  padding: 0 0 10px;
  color: var(--text);
  text-transform: uppercase;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: transform 0.2s linear, font-size 0.2s linear, color 0.2s linear;
  transition: transform 0.2s linear, font-size 0.2s linear, color 0.2s linear;
}

.form__input:focus ~ .form__label {
  color: var(--text-gray);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.form__file {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__file_list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.form__file_item {
  display: flex;
  height: 40px;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--border);
  border-radius: 10px;
}

.form__file_item button,
.form__file_item a {
  display: flex;
}

.form__file_name {
  display: block;
  width: 80px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.form__checks {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form__btn {
  width: 200px;
  padding: 14px;
  margin: 7px 0 0 auto;
}

.form__input.form__input_pass {
  padding: 0 64px 0 20px;
}

.form__button_pass {
  display: flex;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 20px;
  bottom: 32px;
  z-index: 2;
  color: var(--text-gray);
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.form__button_pass:hover {
  color: var(--color);
}

.form__button_pass svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.form__button_pass svg:nth-child(1),
.form__button_pass.active svg:nth-child(2) {
  display: flex;
}

.form__button_pass.active svg:nth-child(1),
.form__button_pass svg:nth-child(2) {
  display: none;
}

/* end form */

/* start 1919px */
@media (max-width: 1919px) {
  h1 {
    font-size: 40px;
    line-height: 48.2px;
  }
  h2 {
    font-size: 32px;
    line-height: 38.56px;
  }
  h3 {
    font-size: 24px;
    line-height: 28.92px;
  }
  h4 {
    font-size: 20px;
    line-height: 24.1px;
  }
  .sub_one {
    font-size: 16px;
    line-height: 19.28px;
  }
  .sub_two {
    font-size: 14px;
    line-height: 16.87px;
  }
  .body_one {
    font-size: 18px;
    line-height: 27px;
  }
  .body_two {
    font-size: 16px;
    line-height: 24px;
  }
  .body_small {
    font-size: 14px;
    line-height: 17.85px;
  }
  .body_caption {
    font-size: 14px;
    line-height: 17.85px;
  }
  .body_table {
    font-size: 14px;
    line-height: 17.85px;
  }

  .personal__block {
    padding: 90px 0 100px;
    gap: 70px;
  }
}
/* end 1919px */

/* start 1439px */
@media (max-width: 1439px) {
  .container {
    padding:  0 30px;
  }
  
  .form__btn {
    margin: 17px 0 0 auto;
  }

  .personal__block {
    padding: 50px 0px;
    gap: 70px;
  }
  .personal__form_head {
    padding: 0 0 20px;
  }
  .personal__form {
    gap: 10px;
  }

  .personal__statistics_type, .personal__statistics_td {
    padding: 16px 0 16px 15px;
  }

  .footer__list {
    gap: 20px 40px;
  }
  .footer__top {
    gap: 40px;
  }
}
/* end 1439px */

/* start 1023px */
@media (max-width: 1023px) {
  h1 {
    font-size: 24px;
    line-height: 28.92px;
  }
  h2 {
    font-size: 20px;
    line-height: 24.1px;
  }
  h3 {
    font-size: 18px;
    line-height: 21.70px;
  }
  h4 {
    font-size: 16px;
    line-height: 19.28px;
  }
  .sub_one {
    font-size: 16px;
    line-height: 22.4px;
  }
  .sub_two {
    font-size: 14px;
    line-height: 16.87px;
  }
  .body_one {
    font-size: 18px;
    line-height: 27px;
  }
  .body_two {
    font-size: 16px;
    line-height: 24px;
  }
  .body_small {
    font-size: 12px;
    line-height: 15.3px;
  }
  .body_caption {
    font-size: 14px;
    line-height: 17.85px;
  }
  .body_table {
    font-size: 14px;
    line-height: 17.85px;
  }

  .container {
    padding:  0 15px;
  }

  .btn {
    width: 100%;
  }

  .header__personal span,
  .header__personal_button span,
  .header__social_link {
    display: none;
  }
  .header__burger {
    display: flex;
  }
  .header__buttons {
    gap: 20px;
  }
  .header__personal_list {
    width: 100%;
    max-height: 100% !important;
    position: fixed;
    top: auto;
    left: 0;
    bottom: 0;
    opacity: 0;
    z-index: 102;
    border-radius: 15px 15px 0 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.3s linear, opacity 0s linear;
    transition: transform 0.3s linear, opacity 0s linear;
    -webkit-transition-delay: 0s, 0.3s;
    transition-delay: 0s, 0.3s;
  }
  .header__personal_flex.active .header__personal_list {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  .header__personal_overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 101;
    opacity: 0;
    visibility: hidden;
    background: transparent;
    -webkit-transition: visibility 0.3s linear, opacity 0.3s linear, background-color 0.3s linear;
    transition: visibility 0.3s linear, opacity 0.3s linear, background-color 0.3s linear;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  .header__personal_overlay.active {
    background-color: var(--text);
    opacity: 0.84;
    visibility: visible;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  .header__personal_link {
    padding: 0 15px;
  }
  .header__personal_item:first-child {
    padding: 40px 0 0;
  }
  .header__personal_item:nth-last-child(2) {
    padding: 0 0 15px;
  }

  .breadcrumbs__list {
    padding: 15px 0;
    gap: 15px 0;
  }

  .form__group {
    flex-direction: column;
    gap: 0;
  }
  .form__group .form__control {
    width: 100%;
  }
  .form__btn {
    margin: 17px 0 0;
  }

  .personal__image {
    width: 100%;
    height: auto;
  }
  .personal__flex {
    flex-direction: column;
    gap: 30px;
  }
  .personal__info {
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }
  .personal__left {
    width: 100%;
    gap: 20px;
  }
  .personal__right {
    width: 100%;
    gap: 20px;
  }
  .personal__top,
  .personal__bottom {
    gap: 10px;
  }
  .personal__block {
    padding: 40px 0 80px;
    gap: 50px;
  }
  .personal__form_head {
    padding: 0 0 30px;
  }
  .personal__form {
    gap: 0;
  }
  .personal__forms {
    padding: 40px 10px;
  }
  .personal__head {
    padding: 0;
  }

  .personal__competitions_tabs {
    padding: 40px 15px 0;
  }
  .personal__competitions_tab {
    width: max-content;
  }
  .personal__competitions_head {
    padding: 40px 15px 20px;
  }
  .personal__competitions_button {
    padding: 20px 15px;
    gap: 10px;
  }
  .personal__competitions_button {
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  .personal__competitions_button_right {
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
  }
  .personal__competitions_arrow {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .personal__competitions_button_left,
  .personal__competitions_button_right {
    width: calc(100% - 34px);
  }
  .personal__competitions_flex {
    padding: 0 15px 40px;
    flex-direction: column;
    gap: 20px;
  }
  .personal__competitions_left,
  .personal__competitions_right {
    width: 100%;
  }
  .personal__competitions_right,
  .personal__competitions_top {
    gap: 10px;
  }
  .personal__competitions_bottom {
    gap: 30px;
  }
  .personal__competitions_date,
  .personal__competitions_record {
    width: 100%;
  }
  .personal__competitions_button:hover .personal__competitions_arrow svg,
  .personal__competitions_button .personal__competitions_arrow svg {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .personal__competitions_item.active .personal__competitions_button .personal__competitions_arrow svg,
  .personal__competitions_item.active .personal__competitions_button:hover .personal__competitions_arrow svg {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .personal__tabs {
    max-height: 0px;
    flex-direction: column;
    opacity: 0;
    -webkit-transition: max-height 0.3s linear, opacity 0.3s linear;
    transition: max-height 0.3s linear, opacity 0.3s linear;
    overflow: hidden;
  }
  .personal__tabs_flex.active .personal__tabs {
    max-height: 2000px;
    opacity: 1;
  }
  .personal__tab:not(:last-child) {
    border-right: none;
  }
  .personal__tab.active {
      border-bottom: 1px solid var(--border-gray);
      background-color: var(--white);
  }
  .personal__tabs_button {
    display: flex;
  }
  
  .personal__statistics {
    padding: 40px 0 0;
    gap: 20px;
  }
  .personal__statistics_head {
    padding: 0 15px;
  }
  .personal__statistics_information {
    padding: 20px 15px;
    flex-direction: column;
  }
  .personal__statistics_table_head {
    padding: 20px 15px;
  }
  .personal__statistics_list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .personal__statistics_item {
    flex-direction: column;
  }
  .personal__statistics_item:not(:last-child) {
    border-top: none;
  }
  .personal__statistics_item:not(:last-child) {
    border-bottom: 1px solid var(--border-gray);
  }
  .personal__statistics_tr:not(:nth-child(2)):not(:nth-child(3)),
  .personal__statistics_tr:nth-child(2),
  .personal__statistics_tr:nth-child(3) {
    width: 100%;
  }
  .personal__statistics_type {
    border-bottom: none;
  }
  .personal__statistics_item:not(:first-child) .personal__statistics_type {
    display: block;
  }
  .personal__statistics_tr:not(:last-child) {
    border-right: none;
  }
  .personal__statistics_item:nth-child(2n) .personal__statistics_td {
    background-color: transparent;
  }
  .personal__statistics_tr {
    width: 100%;
    padding: 16px 15px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 15px;
  }
  .personal__statistics_item:not(:last-child) .personal__statistics_tr {
    border-top: 1px solid var(--border-gray);
  }
  .personal__statistics_tr:not(:first-child) {
    border-top: 1px solid var(--border-gray);
  }
  .personal__statistics_tr:nth-child(2n) {
    background-color: var(--bg-gray);
  }
  .personal__statistics_type,
  .personal__statistics_td {
    padding: 0;
  }
  .personal__statistics_type,
  .personal__statistics_td {
    flex: 1 1 auto;
    white-space: normal;
  }
  .personal__statistics_td {
    text-align: right;
  }

  .footer__logo {
    width: 110px;
    height: 110px;
  }
  .footer__top {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .footer__flex {
    flex-direction: column;
    align-items: center;
  }
  .footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .footer__contact {
    align-items: center;
    gap: 15px;
  }
  .footer__left {
    padding: 0;
  }
  .footer__right {
    padding: 0;
    align-items: center;
    gap: 15px;
  }
  .footer__bottom {
    padding: 20px 0 30px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
/* end 1023px */


/* start 389px */
@media (max-width: 389px) {
  .personal__statistics_tr {
    flex-wrap: wrap;
  }
}
/* end 389px */